body {
    height: 100vh;
    font: "Helvetica", sans-serif;
    color: rgba(0, 0, 0, 5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    margin: 0 auto;
    width: 600px;
    color: #fff;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    padding: 5px;
    /* border-radius: 5px; */
}

section {
    padding: 30px;
    justify-content: center;
    align-items: center;
    width:700px;
    height: 400px;
    background-color: hsla(0, 0%, 100%, .01);
    border: 1px solid hsla(0, 0%, 100%, .7);
    margin: 0 auto;
    border-radius: 10px;
    backdrop-filter: blur(16px);
}